This notebook provides recipes for loading and saving data from external sources.

# Load from Kaggle

## Mounting Google Drive locally

Mount Google Drive and run authorisation

In [ ]:
from google.colab import drive
drive.mount('/content/drive',  force_remount=True)

Mounted at /content/drive

## Link Kaggle

Run the following code to provide the config path to kaggle.json

In [ ]:
import os

# /content/gdrive/My Drive/Kaggle is the path where kaggle.json is present in the Google Drive
os.environ['KAGGLE_CONFIG_DIR'] = "/content/drive/My Drive/Kaggle"

In [ ]:
# Changing the working directory and check working directory
%cd /content/drive/My Drive/Kaggle

/content/drive/My Drive/Kaggle

Go to kaggle and copy the API Command to download the dataset. Run the following code using !

In [ ]:
! kaggle datasets download -d dgomonov/new-york-city-airbnb-open-data

Downloading new-york-city-airbnb-open-data.zip to /content/drive/My Drive/Kaggle
  0% 0.00/2.44M [00:00<?, ?B/s]
100% 2.44M/2.44M [00:00<00:00, 80.4MB/s]

Unzip your data and remove the zip file

In [ ]:
# Unzipping the zip files and deleting the zip files
!unzip \*.zip  && rm *.zip

Archive:  new-york-city-airbnb-open-data.zip
  inflating: AB_NYC_2019.csv
  inflating: New_York_City_.png

In [ ]:
! ls

AB_NYC_2019.csv  kaggle.json  New_York_City_.png

In [ ]:
import pandas as pd

NYC_data = pd.read_csv('AB_NYC_2019.csv')
NYC_data.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]